@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-urbanist: "Urbanist", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  font-family: var(--font-urbanist);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
